
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

*{
  box-sizing:border-box;
  font-family: 'Space Mono', monospace;
}

 body, html{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}


body {
	background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c3448;

  border-radius: 15px;
  padding: 30px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 3px 5px 20px #211c1c;
}

.card{
  width: 320px;
  height: 190px;
  perspective:600px;
  margin: 10px auto;
}

.card-part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
  /* z-index: 1000; */
    left: 0;
    display: inline-block;
    width: 320px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.visa{
  background-image: linear-gradient(to right bottom, #4564ff, #0650f0, #2135ce, #0a4ab8, #0033ff); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
}

.masterCard{
  background-image: linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

}

.other{
  background-image: linear-gradient(to right bottom, #1e2029, #1a1c24, #1f2230, #1f2235, #1f2240); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

}
.americanCard{
  background-image: linear-gradient(to right bottom, #0a5187, #124165, #0a3c61, #0a3c65, #0a3c69); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

}

.card-front{
  
  transform: rotateY(0);
}

.padding-box{
  padding: 18px;
}

.card-back {
  padding: 18px 0;
  transform: rotateY(-180deg);
}

.card-black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}
.flex-card{
  display: flex;
  justify-content: space-between;
}
.card-logo {
    height: 26px;
}

.card-square {
    border-radius: 5px;
    height: 30px;
}

.card-number {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.card-label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
  letter-spacing: 1px;
}

.card-info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-back-content {
    padding: 15px 15px 0;
}
.card-secret-last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
 }

.card-secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card-secret:before{
  content:'';
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card-back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card-back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card-front {
    transform: rotateY(180deg);

}

.card:hover .card-back {
    transform: rotateY(0deg);
}


input{
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 4px;
  width: 98%;
}
.dateandcvv-box{
  display: flex;
}
select{
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 6px;
  width: 98%;
  margin: 4px;
}
/* .close-btn{
  color: red;
  background: white;
  border: none;
  border-radius: 5px;
  width: 54%;
} */
.addandback-btn{
  position: relative;
  background-color: rgb(24, 28, 28);
  padding: 6px;
  border-radius: 10px;
  border: 2px solid rgb(43, 42, 42);
  margin: 4px;
  width: 54%;
  color: white;
  font-weight: bold;
}
.addandback-btn:after{
	content: '';
  position: absolute;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
}

.deactive-box{
  position: relative;
  height: 60px;
}

.activecard-box{
  margin-bottom: 50px;
  padding-top: 10px;
}

.remove-btn{
  position: absolute;
  /* background-color: transparent; */
  background-color: #fdfdfda6;
    color: #a71212;
  border: 0px;
  top: 0px;
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 3px 7px;
}
.wallet-container{
  position: relative;
}


.addNew-btn{
  position: absolute;
  top: -30px;
  padding: 0 60px;
}


.addNewCard-btn{
  width: 200px;
  height: 30px;
  position:absolute;
  border: solid rgba(255,255,255,0.3) 1px;
  background: #ffffff;
  cursor:pointer;
  transition: .8s;
  border-radius: 60px;
  margin-top: 10px;
}
.addNewCard-btn:hover{
  border-radius: 0px;
  background-color: #1e2029;
  color: white;
}

  .inputOK{
    border: 3px solid teal!important;
  }
  .inputError{
    border: 3px solid red!important;
  }

  button:disabled,
  button[disabled]{
    background-color: rgb(96, 96, 96);
    cursor: not-allowed;
    border: none;
  }

  .wallet-box{
    min-height: 80vh;
  }

  
