
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

*{
  box-sizing:border-box;
  font-family: 'Space Mono', monospace;
}

body, html{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
   background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);
  flex-direction: column;
  -webkit-flex-direction: column;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c3448;
  min-height: 90vh;
  border-radius: 15px;
  
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  box-shadow: 3px 5px 20px #211c1c;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.wallet-box{
    /* display: flex;
    flex-direction: column;
    height: 250px; */
}


.card{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  
}

.card-part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.visa{
  background-image: linear-gradient(to right bottom, #4564ff, #0650f0, #2135ce, #0a4ab8, #0033ff); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
}

.masterCard{
  background-image: linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

}

.other{
  background-image: linear-gradient(to right bottom, #1e2029, #1a1c24, #1f2230, #1f2235, #1f2240); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

}
.americanCard{
  background-image: linear-gradient(to right bottom, #0a5187, #124165, #0a3c61, #0a3c65, #0a3c69); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/

}

.card-front{
  padding: 18px;
-webkit-transform: rotateY(0);
transform: rotateY(0);
}

.card-back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
transform: rotateY(-180deg);
}

.card-black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}
.flex-card{
  display: flex;
  justify-content: space-between;
}
.card-logo {
    height: 26px;
}

.card-square {
    border-radius: 5px;
    height: 30px;
}

.card-number {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.card-label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
  letter-spacing: 1px;
}

.card-info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-back-content {
    padding: 15px 15px 0;
}
.card-secret-last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
 }

.card-secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card-secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card-back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card-back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card-front {
    transform: rotateY(180deg);

}

.card:hover .card-back {
    transform: rotateY(0deg);
}

.close-btn{
  color: red;
  background: white;
  border: none;
  border-radius: 5px;
}
